.experience-section {
    display: inline-flex;
    background: white;
    width: 100%;
    padding: 50px 100px;
    .green-square {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 130px;
        width: 130px;
        // border-radius: 5px;
        background: rgb(31, 177, 170);
        .inner-square {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;
            border: 3px solid white;
            .text {
                align-self: center;
                color: white;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: .5px;
            }
        }
    }
    .section-title {
        padding: 20px 40px;
        h1 {
            position: absolute;
            align-self: center;
            font-weight: 700;
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: .05em;
            color: rgba(31, 177, 170,.5);
        }
    }
}