@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700');
@import url("cssreset.css");
@import url("top-section.css");
@import url("services.css");
@import url("portfolio.css");



*  {
    box-sizing: border-box;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    width: 100%; 
    height: 100%; 
    background: gray;
    .wrapper { 
        width: 1000px;
        margin: 0 auto;
        background: white;
        -webkit-box-shadow: 0px 1px 15px 5px rgb(0,0,0);
        -moz-box-shadow: 0px 1px 15px 5px rgb(0,0,0);
        box-shadow: 0px 1px 15px 5px rgba(0,0,0,.3);
//===========================================

        
    }
    // End Wrapper
}
// End main-container