.top-section {
  display: grid;
  height: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1.2fr;
  padding: 50px 80px;
}
.left-side {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .1em;
}

.left-side .blue-box {
  position: relative;
  left: -80px;
  width: 150px;
  height: 250px;
  border: 15px solid rgba(64, 224, 208, 0.2);
  border-left: none;
}

.left-side .devInfo {
  position: absolute;
}

.left-side .devInfo h1.name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.left-side .devInfo p.title {
  font-size: 16px;
  padding: 10px 0 30px;
  color: #888;
}

.left-side .devInfo a {
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 2px;
  z-index: 1;
}

.left-side .devInfo a:hover {
  border-bottom: 2px solid blueviolet;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-side img { 
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  border-radius: 20%;
}
/* =========================================== */
/* SCSS CODE */
/* // .section1 {
        //     display: flex;
        //     width: 100%;
        //     height: 100vh;
        //     .left-side {
        //         width: 50%;
        //         height: 100%;
        //         padding-left: 80px;
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         letter-spacing: .1em;
        //         .blue-box {
        //             position: relative;
        //             left: -80px;
        //             width: 150px;
        //             height: 250px;
        //             border: 15px solid rgba(64, 224, 208,.2);
        //             border-left: none;
        //         }
        //         .devInfo {
        //             position: absolute;
        //             h1.name {
        //                 text-transform: uppercase;
        //                 font-weight: 700;
        //                 font-size: 28px;
        //             }
        //             p.title {
        //                 font-size: 16px;
        //                 padding: 10px 0 30px;
        //                 color: #888;
        //             }
        //             a {
        //                 text-decoration: none;
        //                 border-bottom: 2px solid black;
        //                 color: black;
        //                 text-transform: uppercase;
        //                 // width: 108px;
        //                 font-size: 14px;
        //                 font-weight: 500;
        //                 padding-bottom: 2px;
        //                 z-index: 1;
        //                 &:hover {
        //                     border-bottom: 2px solid blueviolet;
        //                 }
        //             }
        //         }
        //         // End DevInfo
        //     }
        //     // End Left-Side
        //     .right-side {
        //         display: flex;
        //         justify-content: center;
        //         width: 50%;
        //         img {
        //             align-self: center;
        //         }
        //     }
        //     //End Right-Side
        // }
        // // End Section1 */